{{- $dev := or (env "dev") "true" -}}
{{- $email := "example@email.com" -}}
{{- if eq $dev "true" -}}
{{-   $email = promptStringOnce . "email" "Email address" -}}
{{- end -}}
{{- $osid := .chezmoi.os -}}

{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    dev = {{ $dev | quote }}
