{{ if eq .osid "darwin" -}}
#!/bin/bash

{{ template "common" }}

if ! grep fish /etc/shells > /dev/null 2>&1; then
  if sudo sh -c 'echo /opt/homebrew/bin/fish >> /etc/shells'; then
    bot "Fish shell added to /etc/shells successfully."
    bot "Please close this shell window so changes take effect."
    echo
    read -p "Press any key to continue"
    exit 0
  else
    error "Failed to add Fish shell to /etc/shells. Please check your permissions."
    exit 1
  fi
fi

{{ end -}}
