{{ template "common" }}

bot "Docker"
echo
if [ "$(id -u)" != "0" ]; then
  echo "This script must be run as root" 1>&2
  exit 1
fi
if _exists docker && ! systemctl is-enabled --quiet docker ;then
  read -p "Enable docker and add your user to the docker group? [y/N]" -n 1 answer
  echo
  if [[ $answer =~ ^[Yy]$ ]];then
    action "Enabling docker"
    sudo systemctl enable --now docker.service
    ok
    if ! groups | grep -q docker; then
      action "Adding user to the docker group"
      sudo gpasswd -a $LOGNAME docker
      ok
    else
      ok "User is already a member of the docker group"
    fi
  else
    ok "Skipping"
  fi
else
  ok "Docker already enabled!"
fi
