{{ if eq .chezmoi.os "linux" -}}

{{ template "common" . -}}

bot "Checking eza..."
echo
if ! _exists eza ; then
  answer=$(prompt "Would you like to install eza?")
  if [[ $answer =~ ^[Yy]$ ]] ;then
    {{ if eq .osid "linux-debian" }}
    action "Adding key for apt repo..."
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    action "Adding apt repo..."
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    action "Setting permissions..."
    sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
    action "Installing..."
    sudo apt update && sudo apt install -y eza
    {{ end }}
  else
    ok "Skipping"
  fi
else
  ok "eza already installed"
fi

{{ end -}}
