{{ if eq .osid "linux-debian" -}}

{{ template "common" . -}}

bot "Updating apt packages"

sudo apt-get -qq update

{{ range .packages.debian.apt -}}
action "Installing {{ . | quote }}..."
sudo apt-get -qq install -y {{ . | quote }}
{{ end -}}

ok

{{ end -}}
