{{ if eq .osid "darwin" -}}

{{ template "common" . -}}

bot "Updating homebrew packages"

brew update -q
brew bundle -q --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

ok

{{ end -}}
