{{ if eq .chezmoi.os "linux" -}}

{{ template "common" }}

bot "Checking VSCode..."
echo
if ! _exists code ; then
  answer=$(prompt "Would you like to install vscode?")
  echo
  if [[ $answer =~ ^[Yy]$ ]] ;then
    action "checking if snapd is enabled"
    if systemctl is-active --quiet snapd ;then
      action "snap install code --classic"
      sudo snap install code --classic
      ok
    else
      warn "Please install and enable snapd for VSCode"
    fi
  else
    ok "Skipping"
  fi
else
  ok "VSCode already installed"
fi

{{ end -}}
