{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ template "common" }}

bot "Fira Code setup."
read -p "Would you like to install Fira Code NerdFont to get cool icons on the terminal? [y/N]" -n 1 answer
echo
if [[ $answer =~ (yes|y|Y) ]] ;then
  action "Downloading from https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraCode.zip"
  wget https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraCode.zip
  action "Unzipping and adding to ~/.fonts..."
  unzip FiraCode.zip -d ~/.fonts
  fc-cache -fv
  action "rm -rf FiraCode.zip"
  rm -rf FiraCode.zip
else
  ok "Skipping"
fi

{{ end -}}
