{{ if .dev -}}
{{ template "common" . -}}
{{ template "dotfile" }}

bot "This script will guide you through the dofiles setup as well as installing required system packages."
echo "It will not install anything without your direct agreement!"
echo
answer=$(prompt "Do you want to proceed with the installation?")
echo
if [[ ! $answer =~ ^[Yy]$ ]];then
  exit 1
fi

bot "Setting dotfiles up on the home folder."
echo
answer=$(prompt "Proceed?")
echo
if [[ ! $answer =~ ^[Yy]$ ]];then
  exit 1
fi

{{ end -}}
