{{ if eq .dev "true" -}}
{{ template "common" . -}}
{{ template "dotfile" }}

bot "This script will guide you through the dofiles setup as well as installing required system packages."
echo "It will not install anything without your direct agreement!"
echo
if ! prompt "Do you want to proceed with the installation?"; then
  echo "Answer captured: $answer"
  exit 1
fi

bot "Setting dotfiles up on the home folder."
echo
if ! prompt "Proceed?"; then
  exit 1
fi

{{ end -}}
