{{ if eq .chezmoi.os "linux" -}}

{{ template "common" . -}}

bot "Checking 1password..."
echo
if ! _exists 1password ; then
  answer=$(prompt "Would you like to install 1password?")
  if [[ $answer =~ ^[Yy]$ ]] ;then
    {{ if eq .osid "linux-debian" }}
    action "Adding key for apt repo..."
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    action "Adding apt repo..."
    arch=$(dpkg --print-architecture)
    echo "deb [arch=$arch signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$arch stable main" | sudo tee /etc/apt/sources.list.d/1password.list
    action "Adding the debsig-verify policy..."
    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
    action "Installing 1password..."
    sudo apt update && sudo apt install -y 1password
    {{ end }}
  else
    ok "Skipping"
  fi
else
  ok "1password already installed"
fi

{{ end -}}
