{{ if eq .osid "darwin" -}}

{{ template "common" . -}}
{{ template "passwordless_sudo" }}

bot "Checking brew..."
echo
if ! _exists brew ; then
  answer=$(prompt "Would you like to install Homebrew?")
  echo
  if [[ $answer =~ ^[Yy]$ ]] ;then
    action "Installing homebrew..."
    export NONINTERACTIVE=1
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
    brew analytics off
    ok "Brew installed"
    if brew --version >/dev/null 2>&1 ;then
      ok "Homebrew installation verified"
    else
      error "Homebrew installation failed"
      exit 1
    fi
  else
    ok "Skipping"
  fi
else
  ok "brew already installed"
fi

{{ end -}}
